body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 5px;
}

nav > span {
  display: flex;
  justify-content: space-between;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#title {
  margin: 0px 5px;
}

#logged-in {
  width: 285px;
}

#login {
  width: 250px;
}

#products {
  width: 335px;
}
