html,
body {
  margin: 0;
  padding: 0; 
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app {
  background: linear-gradient(#e2eff1, #65799b);
}

#navbar {
  background-color: #e2eff1;
}

#footer {
  background-color: #65799b;
  opacity: 0.85;
}
